<h1>New Review</h1>


<%= form_tag(reviews_url, method: 'post') do %>


  <div>
    <%= label_tag :summary %><br />
    <%= text_field_tag :summary %>
  </div>

  <div>
    <%= label_tag :rating %><br />
    <%= number_field_tag :rating %>
  </div>


  <div>
    <%= submit_tag "Create Review" %>
  </div>
<% end %>
